        
		body {
		    background-image: url('bg3.jpg');
            font-family: Poppins, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        /* Navbar */
        .navbar {
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 10px;
        }
		.navbar a {
            color: black;
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
			font-size: 15px;
        }
        .navbar a:hover {
            background-color: #007BFF;
        } 
		
		/* Main Content */
        .container {
            padding: 50px;
            max-width: 700px;
            margin: 30px auto;
            background-image: url('grid5.jpg');
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
		h1 {
            font-size: 35px;
			margin-bottom: 35px;
			
        }
		/* Footer Styles */
        footer {
           text-align: center;
           margin-top: 50px;
		   padding: 10px 0;
           background-color: black;
           color: white;
           font-size: 14px;
        }